<%- include('../partials/sidebar.ejs'); %>
    <main class="">
        <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-white border-4 border-green-400">
            <div class="py-5">
              
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                        <!--Boton nuevo   -->
                        <div class="space-x-8 mb-2">
                            <a href="/productos/add" class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer" >
                              <i class="fa-solid fa-plus"></i> Nuevo
                            </a>
                        </div>
                        <% if (messages.success) { %>                        
                        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
                          <div class="flex">
                            <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                            <div>
                              <p class="text-sm"><%- messages.success %></p>
                            </div>
                          </div>
                        </div>
                        <% } %>
                    
                        <% if (messages.error) { %>
                          <div role="alert">
                            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                              Danger
                            </div>
                            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                              <p class="font-bold"><%- messages.error %></p>
                            </div>
                          </div>                        
                        <% } %>
                         
                    <!--Tabla lista de items   -->
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="w-full divide-y divide-gray-200 table-auto">
                          <thead class="bg-indigo-500 text-white">
                            <tr class="text-left text-xs font-bold  uppercase">
                              <td scope="col" class="px-6 py-3">ID</td>
                              <td scope="col" class="px-6 py-3">Nombre de Producto</td>
                              <td scope="col" class="px-6 py-3">Descripción</td>
                              <td scope="col" class="px-6 py-3">Stock</td> 
                              <td scope="col" class="px-6 py-3">Precio</td>
                              <td scope="col" class="px-6 py-3 text-center">Opciones</td>
                            </tr>
                          </thead>
                          <tbody class="divide-y divide-gray-200 dark:text-gray-400">
                            <% for(var i = 0; i< data.length; i++) { %>
                            <tr class="text-sm font-medium text-gray-900">
                              <td class="px-6 py-4">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-indigo-500 text-white">
                                  <%= data[i].id %>
                                </span>
                              </td>
                              <td class="px-6 py-4 dark:text-gray-400"><%= data[i].nombre%></td>
                              <td class="px-6 py-4 dark:text-gray-400"><%= data[i].descripcion%></td>
                              <td class="px-6 py-4 dark:text-gray-400"><%= data[i].stock%></td>
                              <td class="px-6 py-4 dark:text-gray-400"><%= data[i].precio%></td>
                              <td class="px-6 py-4 text-right">
                                <a href="../productos/edit/<%=data[i].id%>" class="mr-1 bg-green-600 text-white rounded px-2 py-2 hover:bg-green-400 text-xs">
                                  <i class="fa-solid fa-pen-to-square"></i> Editar
                                </a>
                                <a href="../productos/delete/<%=data[i].id%>" onclick="return confirm('Are You sure?')" class="bg-red-600 text-white rounded px-2 py-2 hover:bg-red-400 text-xs">
                                  <i class="fa-solid fa-trash-can"></i> Eliminar
                                </a>
                              </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                        <!-- if result is empty -->
                        <% if(!data.length) { %>
                          <p class="text-center">No se encontraron productos!</p>
                        <% } %>

                    </div>
                    
                </div>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs'); %>


